// Abstracts
@import "abstracts/variables";
// Vendors
@import "vendors/bootstrap";
// Base
// Layout
@import "layout/header";
@import "layout/navigation";
// Components
@import "components/results";
@import "components/studio-footer";
// Pages
@import "pages/individual";
@import "pages/category";
@import "pages/categoryitem";
@import "pages/studios";
@import "pages/home";
// Themes
@import "themes/theme";
//Results

p,
li,
ul,
button {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $secondary-color;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: $secondary-color;
}
body {
  button {
    background-color: $tertiary-color !important;
    color: #000 !important;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    border-width: 0px;
    text-transform: uppercase;
  }
  button:hover {
    color: #fff !important;
    transition-duration: 0.5s;
    background-color: $secondary-color !important;
    transition-duration: 0.5s;
  }
}

.cream {
  background-color: $primary-color;
}
.navbar > .container {
  justify-content: center !important;
}

.footerhead {
  font-weight: 600;
  font-size: 1.4rem;
  color: $secondary-color;
  text-align: center;
}

footer {
  background-color: $primary-color;
  text-align: center;

  li {
    list-style-type: none;
  }

  .social-icons li {
    display: inline-block;
    font-size: 2rem;
  }
}

body {
  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    color: $tertiary-color;
    transition-duration: 0.3s;
  }
}

h1,
h2 {
  padding-bottom: 1rem;
  padding: 1rem 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
