#map {
  height: 400px;
  width: 100%;

  button {
    background-color: #fff !important;
    color: #000 !important;
  }
}

.searchArea {
  text-align: center;
}

.hero {
  background-image: url(/images/home-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 3rem;
}

.homeh1 {
  color: black;
  opacity: 1;
}

.highlight {
  background-color: $tertiary-color;
  margin: 10px;
}

.loadmore {
  text-align: center;
}
.imgborderleft img {
  border: 2px solid #000;
  box-shadow: -10px 10px 0px 0px $tertiary-color;
}

.imgborderright img {
  border: 2px solid #000;
  box-shadow: 10px 10px 0px 0px $tertiary-color;
}

@media only screen and (max-width: 576px) {
  body {
    .reverseflex {
      flex-direction: column-reverse;
    }
    button {
      margin-bottom: 1rem;
    }
  }
}
