#weather {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: $primary-color;

  li {
    width: 500px;
    margin-bottom: 10px;
    padding: 25px;
    list-style-type: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    border-radius: 2%;
    margin: 15px;
  }
}

#single {
  list-style-type: none;
  text-align: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);

  li {
    margin-bottom: 10px;
    padding: 25px;
    margin: 15px;
  }
  .date {
    margin: 20px;
  }
}
