.results {
  text-align: center;
  background-color: $primary-color;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 25px;
  border: 1px solid #000;
  border-radius: 2%;
  justify-content: center;

  img {
    margin: 20px;
  }

  button {
    margin: 10px 0 30px;
  }
}

@media only screen and (max-width: 660px) {
  .results {
    width: 90%;
  }
}
